<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title || 'document' %></title>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<%- include('@/components/header.ejs') %>
				<!-- 主内容区域 -->
				<%- mainContent %>
			</div>
		</div>
	</body>
</html>
